@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

.register-container {
    background-color: rgba(255, 255, 255, 0.408);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.325);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 18px;
    height: 100%;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.register-container2 {
    background-color: rgb(255 255 255 / 70%);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.325);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 18px;
    height: 90vh;
    width: 95%;
    padding-top: 4em;
    padding-bottom: 4em;
}

.login {
    padding-top: 5em;
    padding-bottom: 5em;
}

.field {
    color: black;
    font-family: 'JetBrains Mono', monospace;
    font-weight: bold;
    width: 100%;

}

.form-control {
    background-color: rgba(17, 17, 22, 0.072);
    border: 1px solid rgb(0 65 135);
    border-radius: 6px;
    color: black !important;
}


.login-register-btn {
    width: 100%;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 550;
    background-color: #0077ffbb; 
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-register-toggle-link {
    font-family: 'JetBrains Mono', monospace;
    font-weight: bold;
    width: 100%;
}

#title {
    font-family: 'JetBrains Mono', monospace;
 
    font-weight: bold;
    color: black;
    text-align: center;
    margin-bottom: 50px;
}

#title2 {
    font-family: 'JetBrains Mono', monospace;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-bottom: 60px;
}

#logoutButton{
    background-color: green;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.register {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

body {
    background: url(image.png), linear-gradient(skyblue, rgba(144, 238, 144, 0.714));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#addContactDiv{
    background-color: rgba(135, 207, 235, 0.233);
    border-radius: 10px;
}

.contactActionButton {
    width: 60px;
    padding: 1px;
}

#loginSubmit {
    color: red;
    text-align: center;
}

#resultRegister {
    color: red;
    text-align: center;
}

.field-invalid {
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.button-col {
    display: flex;
    justify-content: space-evenly;
}

.add-and-search-contacts {
    display: flex;
    justify-content: space-between;
}

.add-contact-button {
    height: 60%;
    width: 15%;
}

.fa-user-plus {
    margin-left: 3px;
}

.fa-magnifying-glass {
    margin-left: 3px;
}

.searchDiv {
    padding-right: 0;
}

.contact-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#accessUIDiv {
    padding: 5em;
}
